html, body {
    height: 100%;
}

header {
    height: 35%;
    background-color: rgba(175, 157, 157, 0.75);
}
header h1{
text-align: center;
color: #FFFFFF;
text-shadow: 2px 2px 2px #333333;
font-size: 6em;   
margin: 0;
}
header h1 i {
    color: #DD3247;
    -webkit-transition: color 1s ease;
}
header h1 i:hover {
    color: #FF4242
}

header h2{
    text-align: center;
    color: #637E13;
    font-size: 3em;
    text-shadow: 2px 2px 2px #333;
}
header h2 i {
    font-size: 3em;
    -webkit-transition: font-size 0,5s;
}



 .eatme{
     width: 49%;
     text-align: right;
     padding-right: 1%;
     float: left;
 }
 .lemon {
    position: relative;
     width: 50%;
     text-align: left;
     float: left;
     
 }
  .lemon:hover .icon-music{
       display:block;
  }
    .lemon:hover .icon-lemon{
       display:none;
  }
 .icon-music {
     position: absolute;
     top: 0;
     left: 0;
     display:none;
 }
  .icon-lemon {
     position: absolute;
     top: 0;
     left: 0;
 }